@import url("https://inclusive-ui.netlify.app/library/inclusive-ui.css");

@import url("./components/mastercomponent.css");
@import url("./utils/reset.css");
@import url("./utils/color.css");
@import url("./utils/utility.css");



/* Layout */
.container {
    max-width: 144rem;
    min-block-size: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    box-shadow: var(--BOX-SHADOW);
}

.container > *{
    /* margin-block: 1rem; */
}

/* this will make main always in center */
.container > main{
    margin-block: auto;
}

/* making header stick at the top */
.container > :first-child:not(main){
    margin-block-start: 0;
}

/* footer sticks at the bottom */
.container > :last-child:not(main){
    margin: 0;
}

