/* header */
.header{
    font-size: 1.6rem;    
    position: sticky;
    top: 0;
    z-index: 2;
    box-shadow: var(--BOX-SHADOW);
    background: var(--DARKEST-GRAY);
    font-family: var(--font-poppins);
    padding: 1.6rem;    
}

.navbar{
    margin: 0 auto;
    width: 80%;
}

.navbar a{
    font-size: 1.6rem;
}



.input-field{
    padding: 2px;
    margin-left: auto;
    background: var(--LIGHT-GRAY);
}

.badge-icon{
    top: -2rem;
    right: -1.5rem;
    background: var(--DARK-BASE);
}

.cover{
    display: grid;
    place-items: center;
    position: relative;
    border: thick dashed var(--NEUTRAL);
    box-shadow: var(--BOX-SHADOW);
}




/* .hm-main */
.hm-main{
    font-family: var(--font-montserrat);
    min-block-size: 100vh;
    max-inline-size: 100%;
    line-height: 1.1;
    background: var(--NEUTRAL);
    display: flex;
    flex-direction: column;
}

.hm-main > .row{
    padding: 2rem;
}

.hm-main>.new-products{
    padding: 0;
}

/* my fav owl operator :D */
.hm-main > * + *{
    margin-top: 2.4rem;
    margin-bottom: 2.4rem;
}

.row-heading{
    margin: 2rem 0;
    padding: 1rem;
    border-bottom: thin solid;
}

.categories{
    margin-block-end: 0.75rem;
    padding: 0;
    max-inline-size: 100%;
    gap: var(--TWO-REM);
    margin: 0 auto;
    justify-content: center;
}

.type{
    /* border: thin solid; */
}

.type img{
    height: auto;
    aspect-ratio: 1/1;
    object-fit: contain;
}

.type-text{
    color: var(--NEUTRAL);
    background: var(--DARKEST-GRAY);
    padding: 5px;
    font-weight: 600;
}

/* footer */
.footer{
    font-family: var(--font-poppins);
    background: var(--DARKEST-GRAY);
    color: var(--NEUTRAL);
    justify-content: space-around;
}

.footer nav li span{
    color: var(--NEUTRAL);
}

.footer a{
    text-decoration: none;
}